/** custom css **/
#form-banner-bg {
  text-align: center;
  background: #6fb737; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-radial-gradient(center, ellipse cover,  #6fb737 0%, #224605 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6fb737), color-stop(100%,#224605)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #6fb737 0%,#224605 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #6fb737 0%,#224605 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #6fb737 0%,#224605 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #6fb737 0%,#224605 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fb737', endColorstr='#224605',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  padding: 10px;
  border: 1px solid #202073;
  color:white;
}

hr {width: 100%;
    border-top: 1px solid #c9deed;
    border-bottom: 1px solid #fff;
  }
#usmap {margin:7% 1%;}

.imgck{margin-right:7px;}

#id logo-head {margin-top:-5px;}

#mwell{background-image:url(//images/sky-bg-v2.jpg); background-position:right bottom; background-repeat:no-repeat;}

#lcol-text{font-size:18px; line-height:24px;}
#rcol-marg{margin-top:-15px;}
#rcol-text{font-size:22px; line-height:24px;}